@bg_color: #e5c379;
@color1: #e5e579;
@color2: #000000; /*black*/
@color3: #00a3cc; /*blue*/
@color4: #71c657;
@color5: #7e8e79;
@color6: #eaeaea; /*white*/

@font_family: Courier New;

body {
    color: @color2;
    background-color: @color6;
    width: 100%;
    font-size: 20px;
    margin: auto;
    font-family: @font_family;
}

h1 {
    color: @color2;
    text-align: center; 
    font-family: @font_family;
}

h2 {
	  color: @color2;
    text-align: center; 
    font-family: @font_family;
}

h3 {
    color: @color2;
    text-align: center; 
    font-family: @font_family;
}
table {
    margin-left: 50px;
}
/*This is the logo of the temple */
.logoImg {
  margin-top: 20px;
  margin-left: 40px;
  float: left;
}
.img {
  margin-left: 30px;
}
.item1 { 
    grid-area: logo; 
}
.item2 { 
    grid-area: header; 
    background-image: url(images/bg3.jpg);
}

.item3 {
    grid-area: sidebar; 
    a {
        color: @color2;
        text-decoration: none;
        font-size: 25px;
        padding: 10px 15px 10px 20px;
        display: block;
        &:hover {
            color: @color3;
        }
    }
}
.item4 { 
    grid-area: body; 
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'logo logo logo logo logo logo logo logo logo logo logo logo'
      'sidebar header header header header header header header header header header header'
      'sidebar body body body body body body body body body body body';
    grid-gap: 2px;
    background-color: @color3;
    padding: 2px;
    font-family: @font_family;
}
.grid-container {
   > div {
      background-color: @color6;
      text-align: center;
      padding: 20px 0;
      font-size: 20px;
      font-family: @font_family;
    }
}
.footer {
  color: @color2;
  text-align: center;
  font-family: @font_family;
} 