<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Item Overview</title>
</head>
<body>
    <h1>{{title | e}}</h1>
    <table> 
        {%for item in details %}
        <tr>
            <th>Name:</th>
            <td><div>{{item.itemName}}</div></td>
        </tr>

        <tr>
            <th>Code:</th>
            <td><div>{{item.ID}}</div></td>
        </tr>

        <tr>
            <th>Price:</th>
            <td><div>{{item.price}}</div></td>
        </tr>

        <tr>
            <th>Color:</th>
            <td><div>{{item.color}}</div></td>
        </tr>

        <tr>
            <th>Stock Remain:</th>
            <td><div>{{item.stockRemain}}</div></td>
        </tr>

        <tr>
            <th>Description:</th>
            <td><div>{{item.description}}</div></td>          
        </tr>
        {% endfor %}
    </table>   
</body>
</html>