<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>History</title>
</head>
<body>
    <div class="grid-container">
        <div class="item1">
            <div class="logoImg"><img src="images/K.png" height="120" width="120"></div>
            <h2>{{ logo | e }}</h2>
            <h3>{{ logo2 | e }}</h3>
        </div>

        <div class="item2">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <div class="item3">
            <a href="index.php">Home</a>
            <a href="history.php">History</a>
            <a href="festivals.php">Festivals</a> 
            <a href="worship.php">Worship</a>
            <a href="location.php">Location</a>                 
            <a href="shop.php">Shop</a>        
        </div>

        <div class="item4">
            <h2>{{ history | e }}</h2>
            <br>         
                <p><img src="images/history1908.jpg" height="450" width="800"></p><br>

                <p>Otowa-san Kiyomizu-dera Temple was founded in 778 in the early Heian period. Its history dates back over 1200 years. As a holy place where the deity Kannon’s great compassion prevails, the temple has long been open to citizens of all classes. History books and literature describe how large numbers of people have enjoyed visiting Kiyomizu-dera Temple throughout its history. <br><br>
                The temple was founded by Sakanoue no Tamuramaro, and its present buildings were constructed in 1633, ordered by the Tokugawa Iemitsu. There is not a single nail used in the entire structure. It takes its name from the waterfall within the complex, which runs off the nearby hills. Kiyomizu means clear water, or pure water.<br><br>
                It was originally affiliated with the old and influential Hossō sect dating from Nara times. However, in 1965 it severed that affiliation, and its present custodians call themselves members of the "Kitahossō" sect.<br>
                <br><br></p> <br>

                <p><img src="images/history5.jpg" height="400" width="790"></p><br>
   
                <p>Among the grounds, which spread over 130,000 square meters along the mid-slope of Mt. Otowa in the eastern part of Kyoto, stand thirty Buddhist buildings, including the national treasure Main Hall and many other important cultural properties. Since its foundation, most of the buildings have been destroyed by fire over ten times. Thanks to the assistance of the temple’s faithful, they were rebuilt time and time again. Most of the present buildings were reconstructed in 1633. In 1944, Kiyomizu-dera Temple was registered on the UNESCO World Cultural Heritage List as one of the Historic Monuments of Ancient Kyoto.</p>
               
                <br><h3>Kannon Reijo Story</h3><br>
                <p>According to the book, The Origin of Kiyomizu-dera Temple, an old man in white appeared in a dream to Kenshin*, a monk who had led an ascetic life in Nara, and gave him this revelation: “Go north and find a crystal spring.” <br><br>Inspired by this vision, Kenshin walked north and discovered a pure, gushing waterfall in Mt. Otowa, Kyoto. He also met the priest Gyoei-koji, an old hermit who built himself a hermitage and practiced asceticism near the waterfall. Gyoei-koji granted Kenshin a sacred tree infused with the power of Kannon. “I’ve been waiting for you. Please carve this tree into a statue of the thousand-armed Kannon to guard this sacred place of Kannon.” Gyoei-koji left Kenshin with these words and disappeared. Kenshin realized that Gyoei-koji was an incarnation of Kannon. Later Kenshin kept watch over Gyoei-koji’s hut and maintained the peace and security of the entire sacred area. The crystal spring that Kenshin discovered was later called Otowa Waterfall, from which pure water continues to flow even today.<br><br>
                Two years later, at Otowa Waterfall Kenshin came across a warrior called Sakanoue-no-Tamuramaro who had come to Mt. Otowa to hunt deer. Kenshin admonished Tamuramaro for taking life on the holy grounds of Kannon and preached to him about Kannon’s virtuous deeds. Tamuramaro was deeply moved by Kenshin’s teachings. Some time later, Tamuramaro built a temple to enshrine the Eleven-headed Thousand-armed Kannon Bodhisattva as the main object of worship and named it Kiyomizu, meaning “pure water,” after the clarity of the waterfall.</p>         
        </div>
    </div> 

    <div class="footer">
        <p>&copy; {{ footer | e }}</p>
    </div> 
</body>
</html>