<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Homepage</title>
</head>
<body>
    <div class="grid-container">
        <div class="item1">
            <div class="logoImg"><img src="images/K.png" height="120" width="120"></div>
            <h2>{{ logo | e }}</h2>
            <h3>{{ logo2 | e }}</h3>
        </div>

        <div class="item2">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        
        <div class="item3">
            <a href="index.php">Home</a>
            <a href="history.php">History</a>
            <a href="festivals.php">Festivals</a> 
            <a href="worship.php">Worship</a>
            <a href="location.php">Location</a>                 
            <a href="shop.php">Shop</a>       
        </div>

        <div class="item4">
            <table>
                <tr>
                    <td><img src="images/history1.jpg" height="350" width="550"></td>
                    <th><a href="history.php">HISTORY</a></th>
                </tr>

                 <tr>
                    <th><a href="festivals.php">FESTIVALS/EVENTS</a></th>
                    <td><img src="images/fes.jpg" height="350" width="550"></td>                 
                </tr>

                 <tr>                  
                    <td><img src="images/bg2.jpg" height="350" width="550"></td>  
                    <th><a href="worship.php">CONTACT</a></th>               
                </tr>

                 <tr>
                    <th><a href="location.php">LOCATION</a></th>
                    <td><img src="images/temple.jpg" height="350" width="550"></td>                 
                </tr>

                 <tr>                
                    <td><img src="images/image5.jpg" height="350" width="550"></td>       
                    <th><a href="shop.php">SOUVENIR SHOP</a></th>          
                </tr>

            </table>
        </div>



    </div> 

    <div class="footer">
        <p>&copy; {{ footer | e }}</p>
    </div> 
</body>
</html>