<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Project</title>
</head>
<body>
    
    <div class="grid-container">
        <div class="item1">
            <div class="logoImg"><img src="images/K.png" height="120" width="120"></div>
            <h2>{{ logo | e }}</h2>
            <h3>{{ logo2 | e }}</h3>
        </div>
        
        <div class="item2">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                 
        </div>


        <div class="item3">
            <a href="index.php">Home</a>
            <a href="history.php">History</a>
            <a href="festivals.php">Festivals</a> 
            <a href="worship.php">Worship</a>
            <a href="location.php">Location</a>                 
            <a href="shop.php">Shop</a>         
        </div>
        
        

        <div class="item4">
            <h2>Buddha Decor</h2>
            <p>Bring a sense of inner peace and great style by adding Buddhist statues to your home. By adding a Buddha decor piece, you can liven up any room in your home, whether it's indoor or outdoor. You can also give a gift to your friends who also believe in Buddhism.</p><br>

            <table>
                <tr>
                    <td><div class="img"><img src="images/image8.jpg" height="300" width="300"></div></td>
                    <td><div class="img"><img src="images/image4.jpg" height="300" width="300"></div></td>
                    <td><div class="img"><img src="images/image9.jpg" height="300" width="300"></div></td>
                </tr>
                <tr>
                    <th>Buddha Statue</th> 
                    <th>Buddha Statue</th>
                    <th>Happy Buddha Statue</th>
                </tr>


                <tr>
                    <td><div class="img"><img src="images/image1.jpg" height="300" width="300"></div></td>
                    <td><div class="img"><img src="images/image2.jpg" height="300" width="300"></div></td>
                    <td><div class="img"><img src="images/image3.jpg" height="300" width="300"></div></td>
                </tr>
                <tr>
                    <th>Mini Statue</th> 
                    <th>Buddha Set</th>
                    <th>Mini Statue</th>
                </tr>

                <tr>
                    <td><div class="img"><img src="images/image5.jpg" height="300" width="300"></div></td>
                    <td><div class="img"><img src="images/image6.jpg" height="300" width="300"></div></td>
                    <td><div class="img"><img src="images/image7.jpg" height="300" width="300"></div></td>
                </tr>
                <tr>
                    <th>Buddha Frame Art</th> 
                    <th>Fall Frame Art</th>
                    <th>Stone Frame Art</th>
                </tr>
            </table>
            <br><br>


            <table>
                <tr>
                    <th>Name</th>                   
                    <th>Code</th>          
                    <th>Price</th>
                    <th>Color</th> 
                    <th>Stock Remain</th>                  
                </tr>  

                {% for item in store %}
                <tr>
                    <td><div><a href="page2.php?item={{item.itemName | url_encode}}">{{item["itemName"]}}</a></div></td>
                    <td><div>{{item["ID"]}}</div></td>
                    <td><div>{{item["price"]}}</div></td>
                    <td><div>{{item["color"]}}</div></td>                          
                    <td><div>{{item["stockRemain"]}}</div></td>
                </tr>
                {% endfor %}
            </table>
        </div>


    </div>
    <div class="footer">
        <p>&copy; {{ footer | e }}</p>
    </div>
</body>
</html>