<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>History</title>
</head>
<body>
    <div class="grid-container">
        <div class="item1">
            <div class="logoImg"><img src="images/K.png" height="120" width="120"></div>
            <h2>{{ logo | e }}</h2>
            <h3>{{ logo2 | e }}</h3>
        </div>

        <div class="item2">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <div class="item3">
            <a href="index.php">Home</a>
            <a href="history.php">History</a>
            <a href="festivals.php">Festivals</a> 
            <a href="worship.php">Worship</a>
            <a href="location.php">Location</a>                 
            <a href="shop.php">Shop</a>        
        </div>

        <div class="item4">
            <h2>How to pray</h2>
            <br>         
                <p><img src="images/pray1.jpg" height="450" width="800"></p><br>
                <p>1. Stand in front of the image of Kannon Bodhisattva in the center of the Main Hall.</p> <br>

                <p><img src="images/pray2.jpg" height="400" width="790"></p><br>
                <p>2. Make a slight bow.</p>

                <p><img src="images/pray4.jpg" height="450" width="800"></p><br>
                <p>3. Make an offering of money to Kannon.</p> <br>

                <p><img src="images/pray5.jpg" height="400" width="790"></p><br>
                <p>4. Put your hands together calmly.</p>             
        </div>
    </div> 
    <div class="footer">
        <p>&copy; {{ footer | e }}</p>
    </div> 
</body>
</html>